<!DOCTYPE HTML>
 <html>
  <head>
    <title>Unidata | Real-Time IDD Statistics</title>    
    <meta name="robots" content="noindex, nofollow" />
    <meta name="robots" content="none" />
    <link rel="shortcut icon" href="https://www.unidata.ucar.edu/favicon.ico" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />  
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!--headextra-->

    <!-- Unidata CSS -->
    <link rel="stylesheet" href="https://www.unidata.ucar.edu/css/upc.css" type="text/css" media="screen, handheld" />

    <!-- jQuery -->
    <script type="text/javascript" src="https://www.unidata.ucar.edu/js/jquery/jquery-latest.min.js"></script>

    <!-- General Unidata JS -->
    <script type="text/javascript" src="https://www.unidata.ucar.edu/js/login_cookie_detect.js"></script>
    <script type="text/javascript" src="https://www.unidata.ucar.edu/js/last_mod.js"></script>
    <script type="text/javascript" src="https://www.unidata.ucar.edu/js/header.js"></script>
    <script type="text/javascript" src="https://www.unidata.ucar.edu/js/jquery/plugins/responsive-tables.js"></script>

    <!-- Converts tab links to a dropdown menu (mobiles, tablets, etc.) -->
    <script type="text/javascript" src="https://www.unidata.ucar.edu/js/jquery/plugins/selectnav.unidata_custom.js"></script> 

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="https://www.unidata.ucar.edu/css/responsive.css" type="text/css" media="screen, handheld" />


   </head>
   <body>

    <header id="header-wrap">
     <!-- horizontal navigation menu -->
     <div id="navspace" class="clearfix">
      <nav>
       <ul id="nav">
        <li class="top">
         <a href="/rtstats/stats.html" id="real-time" class="top_link"><span class="down">Real-Time IDD Statistics</span></a> 
         <ul class="sub">
          <li><a href="/cgi-bin/rtstats/siteindex">Statistics by Host</a></li> 
          <li><a href="/cgi-bin/rtstats/feedindex">Statistics by Feedtype</a></li>
          <li><a href="/">IDD Topology Maps</a></li>
          <li><a href="/cgi-bin/rtstats/topoindex?tree">IDD Feed Trees</a></li>
         </ul>
        </li>

        <li class="top">
         <a href="/cgi-bin/rtstats/sitesummaryindex" id="cumulative" class="top_link"><span class="down">Cumulative IDD Summary Statistics</span></a> 
         <ul class="sub">
          <li><a href="/cgi-bin/rtstats/sitesummaryindex">Summary Statistics by Host</a></li> 
         </ul>
        </li>
        <li class="top">
          <a href="http://www.unidata.ucar.edu/projects/idd/sitelist.html" id="list" class="top_link"><span class="down">IDD Sites</span></a> 
         <ul class="sub">
          <li><a href="http://www.unidata.ucar.edu/projects/idd/sitelist.html">Site Contact List</a></li> 
         </ul>
        </li>
        <li class="top">
          <a href="http://www.unidata.ucar.edu/projects/index.html#idd" id="list" class="top_link"><span class="down">More Information</span></a> 
         <ul class="sub">
          <li><a href="http://www.unidata.ucar.edu/projects/idd/sitelist.html">IDD Site Contact List</a></li> 
          <li><a href="http://www.unidata.ucar.edu/projects/index.html#idd">About the IDD</a></li> 
          <li><a href="http://www.unidata.ucar.edu/software/ldm">Local Data Manager Information</a></li> 
          <li><a href="http://www.unidata.ucar.edu/about/index.html#contact">Contact Unidata</a></li> 
         </ul>
        </li>

        <div class="menuLoginLinks screen_collapse">
        </div>
       </ul>
       <a href="#" id="pull">Menu</a>
      </nav>
     </div> <!-- /#navspace -->

     <div id="header" class="clearfix">
      <div id="banner">
       <div id="logo-floater">
        <a href="http://www.unidata.ucar.edu/" title="Home" rel="home" id="logo">
         <img src="http://www.unidata.ucar.edu/images/logo.png" alt="Home" />
        </a>
       </div> <!-- /#logo-floater -->

      </div> <!-- /#banner -->
     </div> <!-- /#header -->
    </header> <!-- /#header-wrap -->

    <div id="wrap">
     <div id="container">
      <h1>Real-Time IDD Statistics</h1>
      <h5>About the IDD</h5>
      <p>The Unidata community of over 260 universities is building a system for disseminating near real-time earth observations via the Internet. Unlike other systems, which are based on data centers where the information can be accessed, Unidata Internet Data Distribution (IDD) is designed so a university can request that certain data sets be delivered to computers at their site as soon as they are available from the observing system. The IDD system also allows any site with access to specialized observations to inject the dataset into the IDD for delivery to other interested sites.  </p>
      <p><a href="http://www.unidata.ucar.edu/projects/index.html#idd" class="more">More information about the IDD</a></p>
      <h5>Real-Time IDD Topology, click line for more information</h5>

<!--content-->

    </div> <!-- /#container -->
   </div> <!-- /#wrap -->
 <!-- See footer.css for the styling of this section -->
 <footer>
  <div id="triptych-column-container">
    <div id="triptych-columns">
      <div class="column triptych_left">
        <h2>Follow Unidata</h2>
        <ul class="tabular half follow-icons">
          <li>
            <a href="https://twitter.com/unidata"><img src="http://www.unidata.ucar.edu/images/twitter.png" alt="Twitter" title="Twitter" /></a>
          </li>
          <li>
            <a href="https://plus.google.com/105982992127916444326/posts"><img src="http://www.unidata.ucar.edu/images/googleplus.png" alt="Google+" title="Google+" /></a>
          </li>
          <li>
            <a href="https://www.facebook.com/Unidata"><img src="http://www.unidata.ucar.edu/images/facebook.png" alt="Facebook" title="Facebook"/></a>
          </li>
          <li>
            <a href="http://www.youtube.com/user/unidatanews"><img src="http://www.unidata.ucar.edu/images/youtube.png" alt="YouTube Channel" title="YouTube Channel"/></a>
          </li>
          <li>
            <a href="http://www.unidata.ucar.edu/blogs/news/feed/entries/atom"><img src="http://www.unidata.ucar.edu/images/rss.png" alt="News@Unidata blog" title="News@Unidata blog"/></a>
          </li>
          <li>
            <a href="http://www.unidata.ucar.edu/blogs/developer/feed/entries/atom"><img src="http://www.unidata.ucar.edu/images/blog.png" alt="Developers' Blog" title="Developers' Blog"/></a>
          </li>
        </ul>
      </div> <!-- /.column column_left -->

      <div class="column triptych_center">
       <h2>Unidata
        <div class="triptych_logos">
          <a class="noicon" href="http://www.nsf.gov/"> <img alt="UCP" src="http://www.unidata.ucar.edu/images/logos/nsf_logo_transparent.png"/></a>
        </div>
        <div  class="triptych_logos" style="padding-right:1em;">
          <a class="noicon" href="http://www.ucp.ucar.edu/"> <img alt="UCP" id="ucp_small" src="http://www.unidata.ucar.edu/images/logos/ucp-logo2_transparent.png"/></a>
        </div></h2>
        <ul class="tabular full" style="padding-right:0.5em;">
          <li style="text-align: center;">
            Unidata is s a member of the
            <a href="http://www.ucp.ucar.edu/">UCAR Community Programs</a>,
            managed by the
            <a href="http://www.ucar.edu">University Corporation for Atmospheric Research</a>,
            and funded by the
            <a href="http://www.nsf.gov">National Science Foundation</a>.
          </li>
          <li style="text-align: center;">
            Read Unidata's <a href="http://www.unidata.ucar.edu/legal/participation.html">Participation Policy</a>.
          </li>
          <li>
            <table style="width:100%">
              <tr>
                <td style="width:33%;text-align:left;">&#169;
                  <script type="text/javascript">
                    document.write(new Date().getFullYear());
                  </script> UCAR</td>
                <td style="width:33%;text-align:center;"><a href="http://www2.ucar.edu/privacy-policy">Privacy Policy</a></td>
                <td style="width:33%;text-align:right;"><a href="http://www2.ucar.edu/terms-of-use">Terms of Use</a></td>
              </tr>
            </table>
          </li>
        </ul>
      </div> <!-- /.column column_center -->

      <div class="column triptych_right">
       <h2>Contact Unidata</h2>
        <ul class="tabular full">
          <li>
            For support: <b><a href="mailto:support@unidata.ucar.edu">support@unidata.ucar.edu</a></b>
          </li>
          <li>
            By <b><a href="http://www.unidata.ucar.edu/about/index.html#visit">postal mail</a></b> or <b><a href="http://www.unidata.ucar.edu/about/index.html#visit">in person</a></b>
          </li>
          <li>
            About this website: <b><a href="mailto:plaza@unidata.ucar.edu">plaza@unidata.ucar.edu</a></b>
          </li>
          <li>
            By telephone: <b>303.497.8643</b>
          </li>
        </ul>
      </div> <!-- /.column column_right -->

      <a href="http://www.unidata.ucar.edu/about/tour/">
       <div class="column column_extra" id="who_are_we">
        <h2>Welcome to Unidata</h2>
        <ul class="tabular full">
          <li>
            Learn more about who we are and what we do...
          </li>
        </ul>
       </div> <!-- /.column column_extra -->
      </a>

      <span class="stretch"> </span>
    </div> <!-- /#triptych-columns -->
  </div> <!-- /#triptych-column-container -->
 </footer>

<!--footerextra-->

  </body>
 </html>